@model EmployeesApp.Web.Models.Employee

<!DOCTYPE html>
    <html>
    <head>
        <title>Details</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    </head>
    <body>
	<h2>@Model.Name</h2>
	<p>@Model.Email</p>
    </body>
    </html>