@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesApp.Web.Models.Employee[]
<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <ol>
        @foreach (var employee in Model)
        {
            <li>
                @employee.Name @employee.Email @employee.Id
                <a asp-controller ="employees" asp-route-id = "@employee.Id" asp-action="">Details</a>
            </li>
        }

    </ol>
    <a href="/create">Add Employee</a>
</body>

</html>
